.navigation {
  position: absolute;
  top: 0.2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation li a {
  padding: 1rem;
}

/* .navigation li:nth-last-child(3){
margin-left: auto;
} */

.navigation .authNav{
  margin-left: 10%;
}


.navigation li {
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(155deg, #414141, #7e7c7c, #414141, #7e7c7c);
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 0.1rem;
  box-shadow: rgba(226, 226, 226, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
}

.navigation li:hover {
  border: 1px solid red;
}

.notActiveLink {
  color: white;
  text-decoration: none;
}

.activeLink {
  color: red;
  text-decoration: none;
}

.server-connection-ready{
  background: rgb(0, 179, 0) !important;
  color: black !important;
  border: none !important;
  user-select: none;
}
.server-connection-working{
  background: rgb(239, 255, 19) !important;
  color: black !important;
  border: none !important;
  user-select: none;
}
.server-connection-busy{
  background: rgb(255, 36, 36) !important;
  color: black !important;
  border: none !important;
  user-select: none;
}

.server-connection-ready:hover,
.server-connection-working:hover,
.server-connection-busy:hover {
  transform: rotate(0) !important;
}

@media (max-width: 710px) {
  .navigation {
    height: 3rem;
  }
  .navigation li:nth-last-of-type(2),
  .navigation li:nth-last-of-type(1) {
    display: none;
  }
  .navigation li a {
    padding: 0;
  }
}