.picture img {
  border-radius: 8px;
  height: 15rem;
  width: 30rem;
  margin: 0.3rem;
  border: 1px solid transparent;
}

.picture img:hover {
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 710px) {
  .picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .picture img {
    width: 90%;
    height: 100%;
  }
}
